<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="/orchid.png">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Welcome back,  <%= username %></h1>
<ol>
  <% leaderboard.forEach(player => { %>
    <li><%=player%></li>
  <% }); %>
</ol>
</body>
</html>